#container {
	background-color: purple;
}

#chat_panel {
	background-color: lightblue;
	width: 70%;
	overflow-y: auto;
}

#mesage_board {
	color: green;
}

#messages {
	height: 70px;
	list-style-type: none;
}
